/**********  Creating Font Families  *************/

@font-face {
	font-family: futuraBold;
	src: url(../fonts/futuraBold.ttf);
}

@font-face {
	font-family: futuraBook;
	src: url(../fonts/futuraBook.otf);
}

/**************  Base Styles  ****************/

body {
	padding-top: 30px;
	background-color: #312e36 !important;
}

#main_logo {
	max-width: 100%;
	text-align: center;
}

#code-image {
	display: none;
}

#icon_logo {
	height: 300px;
	width: 300px;
	border-radius: 50%;
	box-shadow: 0 0 10px white, 0 0 15px rgba(13, 41, 209, 1);
}

#header {
	width: 100%;
	padding: 0;
}

#nav {
	margin-top: 20px;
}

#nav a {
	background-color: #45424a;
	font-size: 35px;
	padding: 5px 0;
	border: solid 1px #312e36;
}

#nav a:active,
#nav a:hover {
	background-color: #5a575e;
}

.about {
	width: 90%;
	margin: auto;
}

.about ul {
	margin-left: 30px;
}

.lang-img {
	display: none;
}

li {
	list-style-type: circle;
	font-size: 2em;
}

p {
	font-size: 2em;
	text-indent: 25px;
}

p, ul, li, span, a {
	font-family: 'futuraBook';
	color: white;
}

#name, #title {
	margin: 0;
	font-family: 'futuraBold';
	display: none;
	font-size: 100px;
	color: #2fed10;
	text-shadow: 6px 6px 0 rgba(13, 41, 209, 0.8);
}

span {
	font-size: 2em;
	color: #2fed10;
}

#projects {
	margin: 25px 0;
}

#projects > div {
	display: inline-block;
	float: none;
}

.thumbnail {
	margin: 10px;
}

.thumbnail img {
	margin-bottom: 10px;
	height: 150px !important;
	width: 225px !important;
}

.caption {
	font-size: 0.5em !important;
	color: #2fed10 !important;
	position: absolute;
	padding: 0 !important;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	width: 100% !important;
	background-color: #312e36;
}

.footer li {
	list-style: none;
	margin-top: 20px;
}

.footer {
	margin: 0 auto !important;
}


/***********************    Wider Screens / Desktop PCs    ***********************/

@media screen and (min-width: 768px) {

	body {
		padding-top: 0;
	}

	#main_logo {
		height: 500px;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url(../images/code.jpg);
	}

	#icon_logo {
		display:none;
	}

	#name, #title {
		display: block;
	}

	#name {
		margin-bottom: 60px;
	}

	#nav {
		margin: 0;
	}

	.about p {
		font-size: 2em;
	}

	.lang-img {
		display: inline-block;
		margin-top: 30px;
	}

	.thumbnail {
		box-shadow: none;
		transition: box-shadow 500ms;
	}

	.thumbnail:hover {
		box-shadow: 0 0 10px white, 0 0 15px rgb(13, 41, 209);
		transition: box-shadow 300ms;
	}

	.caption {
		font-size: .7em;
	}

	.footer li {
		transition: all .1s;
	}

	.footer li:hover {
		transform: scale(1.05);
	}
	
}

@media screen and (min-width: 775px) {
	#name {
		margin-bottom: 175px;
	}
}

@media screen and (min-width: 830px) {
	#name {
		margin-bottom: 275px;
	}
}

@media screen and (min-width: 980px) {

	body {
		padding-top: 63px;
	}

	#name {
		margin-bottom: 280px;
	}

}